body {
    background-image: url('assets/img/home.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
footer {
    text-align: center; /* Centra el contenido del footer */
    padding: 20px;
    background-color: #333; /* Fondo oscuro para el footer */
}
footer img {
    width: 150px; /* Ajusta el tamaño de la imagen */
    height: auto;
}